<div class="row">
        
        <section class="main col-md-12">
          <article>
          <h2>About</h2>
          <p> Hi, My Name Is Faizal Aslam. I Am Highly Motivated Aspiring Software Developer Pursuing Diploma In
            Computer Programming From Seneca College In Toronto, Canada. Looking For A Position Where I Have To Use My
            Skills And Knowledge For The Development Of The Project, Where Strong Project Management And Analytical
            Skill Will Be Useful In The Delivery Of The Services To The Customer.
             </p>
          </article>
        </section>
      </div>
